{{extend 'layout.html'}}
{{for i in user :}}
<table>
<tr>
    <td style="width:50%">
        <div>
        <img src="{{=URL('download',args=[i.photo])}}" alt="Picture" style="width:80%"></td>
    </div>
    </td>
    <td>
<div style="font-size:200%;line-height:200%;padding-left:3em">
First Name: {{=i.first_name}} </br>
Last Name: {{=i.last_name}} </br>
Email: {{=i.email}} </br>
Sex: {{=i.sex}} </br>
City: {{=i.city}} </br>
Age: {{=i.age}} </br>
Height: {{=i.height}} cm<br>
Salary: {{=i.salary}} </br>
Education: {{=i.education}} <br>
About Me: {{=i.About_Myself}} </br>
<button onclick='window.location="{{=URL('default','message',args=[i.id])}}"'>
    Message
</button>
</div>
</td>
</tr>
</table>
{{pass}}
